.order-form {
  padding: 0px 20px;
  /* background-color: #f8f8f8; */
  text-align: center;
}
.order-form h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.order-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
}
.order-form input,
.order-form select,
.order-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}
.order-form button {
  padding: 12px;
  background-color: #f15a29;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.order-form button:hover {
  background-color: #d44917;
}

